{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <h1 id="page_title">Nouvelle session</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('app_session_index') }}">back to list</a>
{% endblock %}
