{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="jumbotron">
        <h1 class="display-4">Gestion des formations</h1>
        {% set count = 0 %}

        {% for organisme_formation in organisme_formations %}
        {% set count = count + 1 %}
        {% endfor %}

        {% if (count <= 0 )%}
        <p class="lead">Il n'y a aucun organisme de formation de crée</p>
        {% else %}
        <p class="lead">Il y a actuellement {{count}} organisme(s) de formation</p>
        {% endif %}

    </div>
</div>
{% endblock %}
