@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

body {
    font-family: 'chivoregular', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6);

}
nav {
    font-weight:normal;
    font-style:normal;
    font-size: 1.2rem;
    background: #4a69bd;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

#page_title {
    text-align: center;
    padding: 20px;
}

#new_Row {
    color: #334E58;
}

a {
    text-decoration: none;
}
