{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
    <h1 id="page_title">Édition</h1>

    {{ include('candidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_candidat_index') }}">Retour à la liste</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
