{% extends 'base.html.twig' %}

{% block title %}New Candidat{% endblock %}

{% block body %}
    <h1 id="page_title">Nouveau candidat</h1>

    {{ include('candidat/_form.html.twig') }}

    <a href="{{ path('app_candidat_index') }}">Retour à la liste</a>
{% endblock %}
