{% extends 'base.html.twig' %}

{% block title %}Edit Salle{% endblock %}

{% block body %}
    <h1 id="page_title">Édition</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_salle_index') }}">Retour à la liste</a>

    {{ include('salle/_delete_form.html.twig') }}
{% endblock %}
