<form method="post" action="{{ path('app_organisme_formation_delete', {'id': organisme_formation.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organisme_formation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
