{% extends 'base.html.twig' %}

{% block title %}Edit OrganismeFormation{% endblock %}

{% block body %}
    <h1 id="page_title">Édition</h1>

    {{ include('organisme_formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_organisme_formation_index') }}" class="btn btn-success">Retour à la liste</a>

    {{ include('organisme_formation/_delete_form.html.twig') }}
{% endblock %}
