{% extends 'base.html.twig' %}

{% block title %}Mes organismes{% endblock %}


{% block body %}
    <h2 id="page_title">Mes organismes</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Numéro de téléphone</th>
                <th scope="col">Adresse mail</th>
                <th scope="col">Gérer</th>
            </tr>
        </thead>
        <tbody>
        {% for organisme_formation in organisme_formations %}
            <tr>
                <td>{{ organisme_formation.id }}</td>
                <td>{{ organisme_formation.nom }}</td>
                <td>{{ organisme_formation.adresse }}</td>
                <td>{{ organisme_formation.numeroTel }}</td>
                <td>{{ organisme_formation.emailContact }}</td>
                <td>
                    <a href="{{ path('app_organisme_formation_show', {'id': organisme_formation.id}) }}" class="btn btn-success">Plus d'information</a>
                    <a href="{{ path('app_organisme_formation_edit', {'id': organisme_formation.id}) }}" class="btn btn-warning">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de lignes trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organisme_formation_new') }}" class="btn btn-primary">Nouvel organisme</a>
{% endblock %}
