{% extends 'base.html.twig' %}

{% block title %}New OrganismeFormation{% endblock %}

{% block body %}
    <h1 id="page_title">Nouvel organisme</h1>

    {{ include('organisme_formation/_form.html.twig') }}

    <a href="{{ path('app_organisme_formation_index') }}">Retour à la liste</a>
{% endblock %}
