{% extends 'base.html.twig' %}

{% block title %}OrganismeFormation{% endblock %}

{% block body %}
    <h1 id="page_title">Édition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisme_formation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisme_formation.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ organisme_formation.adresse }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ organisme_formation.numeroTel }}</td>
            </tr>
            <tr>
                <th>Adresse mail</th>
                <td>{{ organisme_formation.emailContact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_organisme_formation_index') }}" class="btn btn-light">Retour à la liste</a>

    <a href="{{ path('app_organisme_formation_edit', {'id': organisme_formation.id}) }}" class="btn btn-warning">Éditer</a>

    {{ include('organisme_formation/_delete_form.html.twig') }}
{% endblock %}
