<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('accueil')}}">Gestion Formations</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_organisme_formation_index')}}">Mes organismes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_formation_index')}}">Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_promotion_index')}}">Promotions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_candidat_index')}}">Candidat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_formateur_index')}}">Formateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_session_index')}}">Session</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_salle_index')}}">Salle</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
