{% extends 'base.html.twig' %}

{% block title %}Edit Formateur{% endblock %}

{% block body %}
    <h1 id="page_title">Édition</h1>

    {{ include('formateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_formateur_index') }}">Mettre à jour</a>

    {{ include('formateur/_delete_form.html.twig') }}
{% endblock %}
